<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>y
</head>

<body>
    <div id="app">
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <!-- <img v-bind:src="image"> -->
                    <img :src="image">
                </div>
                <div class="product-info">
                    <!-- v-if and v-else-->
                    <!-- <p v-if="instock"> In Stock</p>
                     <p v-else> Out of Stock </p> -->

                    <!-- show and hide -->
                    <!-- <p v-show="instock">In Stock</p> -->

                    <!-- Chained Conditional Logic-->
                    <!-- <p v-if="inventory > 10 && onSale"> In Stock</p>
                    <p v-else-if="inventory <=10 && inventory >0">Almost sold out!</p>
                    <p v-else>Out of Stock</p>

                    <p v-show="onSale">On sale</p> -->

                    <!-- display list -->
                    <!-- <ul>
                        <li v-for="detail in details ">{{detail}}</li>
                    </ul> -->

                    <!-- <ul>
                    <li v-for="variant in variants" :key="variant.id">
                        {{variant.color}}
                    </li>
                    </ul> -->
                    <h1>{{ product }}</h1>
                    <!-- v-if and v-else-->
                    <p v-if="instock"> In Stock</p>
                    <p v-else> Out of Stock </p>

                    <!-- display list -->
                    <ul>
                        <li v-for="detail in details ">{{detail}}</li>
                    </ul>

                    <!-- event handling -->
                    <button class="button" @click="addToCart">Add to Cart</button>
                    
                </div>
                <div class="cart">
                    Cart{{cart}}
                </div>
            </div>

        </div>
    </div>
    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>